Repository Gunther-Schulz/Python-ACAD-Tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

import-linter:
  name: import-linter (architecture rules)
  entry: lint-imports
  language: system
  pass_filenames: false
  args:
  - --config=pyproject.toml

ruff-src:
  name: ruff (linting) - source
  entry: ruff check
  language: system
  args:
  - --config=pyproject.toml
  - --fix

ruff-format-src:
  name: ruff (format) - source
  entry: ruff format
  language: system
  args:
  - --config=pyproject.toml

mypy-src:
  name: mypy (static type checking) - source
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  - --html-report=typing_report
  - --txt-report=typing_report

pylint-src:
  name: pylint - source
  entry: pylint
  language: system
  args:
  - --rcfile=pyproject.toml

dependency-injector:
  name: dependency-injector (DI patterns)
  entry: python scripts/check_dependency_injection.py
  language: system
  pass_filenames: false
  args:
  - --strict-constructor
  - --check-protocols
  - --validate-dependencies

beartype:
  name: beartype (runtime type checking)
  entry: python -c "from beartype.claw import beartype_this_package; import sys, importlib; sys.path.append('.'); import src; sys.exit(0)"
  language: python
  additional_dependencies:
  - beartype>=0.16.4
  - pyyaml
  - shapely
  - geopandas
  - ezdxf
  - dependency-injector
  ...

vulture:
  name: vulture (dead code and similarity)
  entry: vulture
  language: system
  pass_filenames: false
  args:
  - src
  - --min-confidence=90
  - --exclude=tests/,src_old/,scripts/
  - --ignore-names=config_path,geometry_path,layer_path,target_path,format

radon-cc:
  name: radon (code complexity)
  entry: radon cc
  language: system
  pass_filenames: false
  args:
  - -a
  - -n
  - A
  - -s
  - --total-average
  - --xml
  - src

radon-mi:
  name: radon (maintainability)
  entry: radon mi
  language: system
  pass_filenames: false
  args:
  - -s
  - -n
  - A
  - --min=65
  - --multi
  - src

interrogate:
  name: interrogate (docstring coverage)
  entry: interrogate
  language: system
  args:
  - -c
  - pyproject.toml
  - -vv

ruff-tests:
  name: ruff (linting) - tests
  entry: ruff check
  language: system
  args:
  - --config=pyproject.toml
  - --fix

ruff-format-tests:
  name: ruff (format) - tests
  entry: ruff format
  language: system
  args:
  - --config=pyproject.toml

pylint-tests:
  name: pylint - tests
  entry: pylint
  language: system
  args:
  - --rcfile=pyproject.toml
  ...

semgrep:
  name: semgrep (semantic analysis)
  entry: semgrep
  language: system
  args:
  - --config=auto

pyright:
  name: pyright (type checking)
  entry: pyright
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.350

wip5
  projects/Plasten/geom_layers.yaml
Due: none

wip6 S
  projects/Plasten/geom_layers.yaml
Due: none

yaml
  projects/Plasten/geom_layers.yaml
Due: none

wip7
  projects/Plasten/geom_layers.yaml
Due: none

wip8
  projects/Plasten/geom_layers.yaml
Due: none

Zuwegung
  projects/Plasten/geom_layers.yaml
Due: none

fucked up wtf is wrong with me!
  projects/Plasten/geom_layers.yaml
  projects/Plasten/project.yaml
Due: none

fucking Wald jetzt auf 30m Abstand
  projects/Plasten/geom_layers.yaml
  projects/Plasten/project.yaml
Due: none

reduce Biotop buffer by 10m
  projects/Plasten/geom_layers.yaml
Due: none

fix legend hatch transparency/color fallback from layer style
  src/legend_creator.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Friedrichhof legend: fix transparency, linetype scales, block rendering
  projects/Friedrichshof/generated/legends.yaml
  projects/Friedrichshof/project.yaml
  src/dxf_utils.py
  src/legend_creator.py
  styles.yaml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

gitignore: add pattern for Python BytesIO artifact files
  .gitignore
Due: none

Add 3D-to-2D DXF conversion script; update Friedrichhof output filename
  convert_3d_to_2d.py
  projects/Friedrichshof/project.yaml
Due: semgrep, pyright

Move convert_3d_to_2d.py to scripts/ folder
  scripts/convert_3d_to_2d.py
Due: semgrep, pyright

Fix legend hatch pattern angle corruption from entity.translate()
  projects/Friedrichshof/generated/legends.yaml
  projects/Friedrichshof/geom_layers.yaml
  src/legend_creator.py
  styles.yaml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Friedrichshof legend: move Contours item, fix wege angle, various updates
  projects/Friedrichshof/generated/legends.yaml
  styles.yaml
Due: none

Add refactor plan document
  REFACTOR_PLAN.md
Due: none

Update refactor plan with agreed design decisions
  REFACTOR_PLAN.md
Due: none

Implement core refactoring features
  projects/Test/create_test_data.py
  projects/Test/geom_layers.yaml
  projects/Test/layers/02_derived.yaml
  projects/Test/project.yaml
  src/layer_processor.py
  src/operations/buffer_operation.py
  src/project_loader.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Implement template system for reusable layer patterns
  projects/Test/layers/03_templates.yaml
  src/project_loader.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Mark remaining design decisions as resolved
  REFACTOR_PLAN.md
Due: none

Remove deprecated dxf_processor, add enabled flag everywhere, normalize legends
  projects/Plasten vor AgriPV/deprecated/dxf_operations.yaml
  projects/Plasten vor AgriPV/deprecated/dxf_transfer.yaml
  projects/Plasten vor AgriPV/deprecated/update_from_source.yaml
  projects/Plasten/deprecated/dxf_operations.yaml
  projects/Plasten/deprecated/dxf_transfer.yaml
  projects/Plasten/deprecated/update_from_source.yaml
  projects/Waren/deprecated/dxf_operations.yaml
  src/dxf_exporter.py
  src/dxf_processor.py.deprecated
  src/legend_creator.py
  src/project_loader.py
  src/reduced_dxf_creator.py
  src/unified_sync_processor.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Update refactor plan with all implemented features
  REFACTOR_PLAN.md
Due: none

Normalize project.yaml: camelCase, reducedDxf split, folderPrefix toggle
  projects/Test/project.yaml
  src/project_loader.py
  src/sync_hash_utils.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Remove backward compat fallbacks, use camelCase only
  src/legend_creator.py
  src/project_loader.py
  src/sync_hash_utils.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Remove reducedDxf separate file loading, keep in project.yaml only
  src/project_loader.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Implement style extends and per-project style overrides
  projects/Test/styles.yaml
  src/project_loader.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Update Test project to cover all implemented features
  projects/Test/generated/Biotope Buffer 10m.cpg
  projects/Test/generated/Biotope Buffer 10m.dbf
  projects/Test/generated/Biotope Buffer 10m.prj
  projects/Test/generated/Biotope Buffer 10m.shp
  projects/Test/generated/Biotope Buffer 5m.cpg
  projects/Test/generated/Biotope Buffer 5m.dbf
  projects/Test/generated/Biotope Buffer 5m.prj
  projects/Test/generated/Biotope Buffer 5m.shp
  projects/Test/generated/Raw Difference.cpg
  projects/Test/generated/Raw Difference.dbf
  projects/Test/generated/Raw Difference.prj
  projects/Test/generated/Raw Difference.shp
  projects/Test/generated/Test Zone Boundary.cpg
  projects/Test/generated/Test Zone Boundary.dbf
  projects/Test/generated/Test Zone Boundary.prj
  projects/Test/generated/Test Zone Boundary.shp
  projects/Test/geom_layers.yaml
  projects/Test/project.yaml
Due: none

Fix simpleLabel source layer resolution and zone_report auto-repair
  projects/Test/generated/Flur_labels.cpg
  projects/Test/generated/Flur_labels.dbf
  projects/Test/generated/Flur_labels.prj
  projects/Test/generated/Flur_labels.shp
  projects/Test/generated/Geltungsbereich East Report.dbf
  projects/Test/generated/Geltungsbereich East Report.shp
  projects/Test/generated/Geltungsbereich West Report.dbf
  projects/Test/generated/Geltungsbereich West Report.shp
  projects/Test/generated/Gemarkung_labels.cpg
  projects/Test/generated/Gemarkung_labels.dbf
  projects/Test/generated/Gemarkung_labels.prj
  projects/Test/generated/Gemarkung_labels.shp
  projects/Test/generated/Gemeinde_labels.cpg
  projects/Test/generated/Gemeinde_labels.dbf
  projects/Test/generated/Gemeinde_labels.prj
  projects/Test/generated/Gemeinde_labels.shp
  src/operations/simple_label_operation.py
  templates/zone_report.yaml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Update refactor plan with style system and project settings changes
  REFACTOR_PLAN.md
Due: none

Step 1: Dead code cleanup
  main.py
  src/dxf_exporter.py
  src/dxf_processor.py.deprecated
  src/layer_processor.py
  src/operations/__init__.py
  src/operations/common_operations.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Step 2: Operation registry replaces if-elif dispatch chain
  src/layer_processor.py
  src/operations/__init__.py
  src/operations/bounding_box_operation.py
  src/operations/break_at_intersections_operation.py
  src/operations/buffer_operation.py
  src/operations/calculate_operation.py
  src/operations/circle_operation.py
  src/operations/clean_line_operation.py
  src/operations/connect_points_operation.py
  src/operations/contour_operation.py
  src/operations/copy_operation.py
  src/operations/difference_operation.py
  src/operations/directional_line_operation.py
  src/operations/dissolve_by_majority_intersection_operation.py
  src/operations/dissolve_operation.py
  src/operations/envelope_operation.py
  src/operations/extract_boundary_operation.py
  src/operations/filter_by_column_operation.py
  src/operations/filter_by_intersection_operation.py
  src/operations/filter_geometry_operation.py
  src/operations/intersection_operation.py
  src/operations/label_association_operation.py
  src/operations/lagefaktor_operation.py
  src/operations/merge_operation.py
  src/operations/point_label_operation.py
  src/operations/polygonize_operation.py
  src/operations/registry.py
  src/operations/remove_degenerate_spikes_operation.py
  src/operations/remove_duplicate_lines_operation.py
  src/operations/remove_interior_rings_operation.py
  src/operations/remove_protrusions_operation.py
  src/operations/remove_slivers_erosion_operation.py
  src/operations/repair_operation.py
  src/operations/report_operation.py
  src/operations/simple_label_operation.py
  src/operations/simplify_slivers_operation.py
  src/operations/smooth_operation.py
  src/operations/wmts_wms_operation.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Step 3: Auto-generate operation docs from registry
  main.py
Due: semgrep, pyright

Step 4: Import cleanup across codebase
  src/layer_processor.py
  src/project_loader.py
  src/unified_sync_processor.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Step 5: Convert dxf_utils.py into dxf_utils/ package
  src/dxf_utils/__init__.py
  src/dxf_utils/_core.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Extract bluntAngles to registered operation, remove dead code
  src/layer_processor.py
  src/operations/blunt_angles_operation.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Update print_layer_settings with all current layer properties
  main.py
Due: semgrep, pyright

Extract create_sample_project from utils.py to project_templates.py
  main.py
  src/project_templates.py
  src/utils.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Break up long methods in layer_processor.py
  src/layer_processor.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Path conditions:
  import-linter: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-src: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-format-src: any of: ^src/ and \.py$ and not (^src_old/)
  mypy-src: any of: ^src/ and \.py$ and not (^src_old/)
  pylint-src: any of: ^src/ and \.py$ and not (^src_old/)
  dependency-injector: any of: ^src/ and \.py$ and not (^src_old/)
  beartype: any of: ^src/ and \.py$ and not (^src_old/)
  vulture: any of: ^src/ and \.py$ and not (^src_old/)
  radon-cc: any of: ^src/ and \.py$ and not (^src_old/)
  radon-mi: any of: ^src/ and \.py$ and not (^src_old/)
  interrogate: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-tests: any of: ^tests/ and \.py$
  ruff-format-tests: any of: ^tests/ and \.py$
  pylint-tests: any of: ^tests/ and \.py$
  semgrep: any of: \.py$, but not: ^src_old/
  pyright: any of: \.py$, but not: ^src_old/
