Repository Gunther-Schulz/Python-ACAD-Tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

import-linter:
  name: import-linter (architecture rules)
  entry: lint-imports
  language: system
  pass_filenames: false
  args:
  - --config=pyproject.toml

ruff-src:
  name: ruff (linting) - source
  entry: ruff check
  language: system
  args:
  - --config=pyproject.toml
  - --fix

ruff-format-src:
  name: ruff (format) - source
  entry: ruff format
  language: system
  args:
  - --config=pyproject.toml

mypy-src:
  name: mypy (static type checking) - source
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  - --html-report=typing_report
  - --txt-report=typing_report

pylint-src:
  name: pylint - source
  entry: pylint
  language: system
  args:
  - --rcfile=pyproject.toml

dependency-injector:
  name: dependency-injector (DI patterns)
  entry: python scripts/check_dependency_injection.py
  language: system
  pass_filenames: false
  args:
  - --strict-constructor
  - --check-protocols
  - --validate-dependencies

beartype:
  name: beartype (runtime type checking)
  entry: python -c "from beartype.claw import beartype_this_package; import sys, importlib; sys.path.append('.'); import src; sys.exit(0)"
  language: python
  additional_dependencies:
  - beartype>=0.16.4
  - pyyaml
  - shapely
  - geopandas
  - ezdxf
  - dependency-injector
  ...

vulture:
  name: vulture (dead code and similarity)
  entry: vulture
  language: system
  pass_filenames: false
  args:
  - src
  - --min-confidence=90
  - --exclude=tests/,src_old/,scripts/
  - --ignore-names=config_path,geometry_path,layer_path,target_path,format

radon-cc:
  name: radon (code complexity)
  entry: radon cc
  language: system
  pass_filenames: false
  args:
  - -a
  - -n
  - A
  - -s
  - --total-average
  - --xml
  - src

radon-mi:
  name: radon (maintainability)
  entry: radon mi
  language: system
  pass_filenames: false
  args:
  - -s
  - -n
  - A
  - --min=65
  - --multi
  - src

interrogate:
  name: interrogate (docstring coverage)
  entry: interrogate
  language: system
  args:
  - -c
  - pyproject.toml
  - -vv

ruff-tests:
  name: ruff (linting) - tests
  entry: ruff check
  language: system
  args:
  - --config=pyproject.toml
  - --fix

ruff-format-tests:
  name: ruff (format) - tests
  entry: ruff format
  language: system
  args:
  - --config=pyproject.toml

pylint-tests:
  name: pylint - tests
  entry: pylint
  language: system
  args:
  - --rcfile=pyproject.toml
  ...

semgrep:
  name: semgrep (semantic analysis)
  entry: semgrep
  language: system
  args:
  - --config=auto

pyright:
  name: pyright (type checking)
  entry: pyright
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.350

Remove dead functions from common_operations.py and layer_processor.py
  src/layer_processor.py
  src/operations/common_operations.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Remove dead methods from dxf_exporter.py
  src/dxf_exporter.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Replace wildcard imports with explicit ones in 7 operation files
  src/operations/buffer_operation.py
  src/operations/contour_operation.py
  src/operations/filter_by_intersection_operation.py
  src/operations/intersection_operation.py
  src/operations/merge_operation.py
  src/operations/smooth_operation.py
  src/operations/wmts_wms_operation.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Break up place_blocks_bulk (246 lines) into focused methods
  src/block_placement_utils.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Break up _copy_layer_entities (173 lines) into focused methods
  src/reduced_dxf_creator.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

uv migration: add pyproject.toml + uv.lock derived from environment.yaml
  .gitignore
  .python-version
  README.md
  pyproject.toml
  uv.lock
Due: none

repo hygiene: move debug/off-topic artefacts to attic/ (non-destructive)
  attic/cashplanung
  attic/debug_text_entities.py
  attic/degenerate_spike_FINAL.svg
  attic/degenerate_spike_problem.svg
  attic/degenerate_spike_problem_CORRECTED.svg
  attic/rechnungsbeispiel.txt
  attic/test_auto_sync.py
  attic/test_final_result.py
Due: semgrep, pyright

Friedrichshof: enable reducedDxf, point dxfFilename at 04.05.2026 stand
  projects/Friedrichshof/project.yaml
Due: none

fix(reduced-dxf): import BLOCK definitions required by copied entities
  src/reduced_dxf_creator.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Friedrichshof: CEF report must measure the designated area, not the raw source
  projects/Friedrichshof/geom_layers.yaml
Due: none

fix(reduced-dxf): register XDATA APPIDs, refuse to save files AutoCAD rejects
  src/reduced_dxf_creator.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Friedrichshof: strip AutoCAD Map object data from the reduced DXF
  projects/Friedrichshof/project.yaml
Due: none

Friedrichshof: spatial filter for legend leftovers, drop 0-BLOCKS
  projects/Friedrichshof/project.yaml
Due: none

fix(reduced-dxf): anonymous block collisions, template geometry, spatial filter
  src/reduced_dxf_creator.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

fix(reduced-dxf): gate on geometry preservation before saving
  src/reduced_dxf_creator.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

README: Stilllegungs-Marker — Nachfolger pbs-gis cad/ (FB 8.25)
  README.md
Due: none

Path conditions:
  import-linter: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-src: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-format-src: any of: ^src/ and \.py$ and not (^src_old/)
  mypy-src: any of: ^src/ and \.py$ and not (^src_old/)
  pylint-src: any of: ^src/ and \.py$ and not (^src_old/)
  dependency-injector: any of: ^src/ and \.py$ and not (^src_old/)
  beartype: any of: ^src/ and \.py$ and not (^src_old/)
  vulture: any of: ^src/ and \.py$ and not (^src_old/)
  radon-cc: any of: ^src/ and \.py$ and not (^src_old/)
  radon-mi: any of: ^src/ and \.py$ and not (^src_old/)
  interrogate: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-tests: any of: ^tests/ and \.py$
  ruff-format-tests: any of: ^tests/ and \.py$
  pylint-tests: any of: ^tests/ and \.py$
  semgrep: any of: \.py$, but not: ^src_old/
  pyright: any of: \.py$, but not: ^src_old/
