Repository Gunther-Schulz/Python-ACAD-Tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

Path conditions:
  import-linter: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-src: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-format-src: any of: ^src/ and \.py$ and not (^src_old/)
  mypy-src: any of: ^src/ and \.py$ and not (^src_old/)
  pylint-src: any of: ^src/ and \.py$ and not (^src_old/)
  dependency-injector: any of: ^src/ and \.py$ and not (^src_old/)
  beartype: any of: ^src/ and \.py$ and not (^src_old/)
  vulture: any of: ^src/ and \.py$ and not (^src_old/)
  radon-cc: any of: ^src/ and \.py$ and not (^src_old/)
  radon-mi: any of: ^src/ and \.py$ and not (^src_old/)
  interrogate: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-tests: any of: ^tests/ and \.py$
  ruff-format-tests: any of: ^tests/ and \.py$
  pylint-tests: any of: ^tests/ and \.py$
  semgrep: any of: \.py$, but not: ^src_old/
  pyright: any of: \.py$, but not: ^src_old/

2 - REIMPLEMENT DXFPLANNERREVIEW
  src/dxfplanner/app.py
  src/dxfplanner/config/schemas.py
  src/dxfplanner/core/di.py
  src/dxfplanner/domain/interfaces.py
  src/dxfplanner/geometry/operations.py
  src/dxfplanner/geometry/transformations.py
  src/dxfplanner/io/readers/geojson_reader.py
  src/dxfplanner/io/writers/dxf_writer.py
  src/dxfplanner/services/geoprocessing/coordinate_service.py
  src/dxfplanner/services/layer_processor_service.py
  src/dxfplanner/services/style_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

new filter string operation
  requirements.txt
  src/dxfplanner/geometry/operations.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

implement all but just redid 4. should also re-do 5,6
  DXFPLANNER_REVIEW.MD
  src/dxfplanner/config/schemas.py
  src/dxfplanner/core/di.py
  src/dxfplanner/domain/interfaces.py
  src/dxfplanner/domain/models/dxf_models.py
  src/dxfplanner/geometry/operations.py
  src/dxfplanner/geometry/transformations.py
  src/dxfplanner/io/readers/csv_wkt_reader.py
  src/dxfplanner/io/readers/geojson_reader.py
  src/dxfplanner/io/readers/shapefile_reader.py
  src/dxfplanner/io/writers/dxf_writer.py
  src/dxfplanner/services/geoprocessing/attribute_mapping_service.py
  src/dxfplanner/services/geoprocessing/label_placement_service.py
  src/dxfplanner/services/layer_processor_service.py
  src/dxfplanner/services/legend_generation_service.py
  src/dxfplanner/services/style_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

fix linter errors
  src/dxfplanner/geometry/operations.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

implement gap 5
  src/dxfplanner/io/writers/dxf_writer.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

implement gap 6
  src/dxfplanner/geometry/transformations.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

refactor project architecture doc
  PROJECT_ARCHITECTURE.md
Due: none

add runs
  run_0_NOclippy.md
  run_v0.4.0.md
  run_v0.4.23.md
  run_v0.6.0.md
  run_v0.6.2.md
Due: none

after a very long process with 0.6.2
  PROJECT_STANDARDS.MD
  src/dxfplanner/app.py
  src/dxfplanner/cli.py
  src/dxfplanner/config/__init__.py
  src/dxfplanner/config/common_schemas.py
  src/dxfplanner/config/dxf_writer_schemas.py
  src/dxfplanner/config/loaders.py
  src/dxfplanner/config/operation_schemas.py
  src/dxfplanner/config/reader_schemas.py
  src/dxfplanner/config/schemas.py
  src/dxfplanner/config/style_schemas.py
  src/dxfplanner/core/di.py
  src/dxfplanner/domain/interfaces.py
  src/dxfplanner/domain/models/dxf_models.py
  src/dxfplanner/geometry/operations.py
  src/dxfplanner/geometry/transformations.py
  src/dxfplanner/geometry/utils.py
  src/dxfplanner/io/readers/geojson_reader.py
  src/dxfplanner/io/readers/shapefile_reader.py
  src/dxfplanner/io/writers/components/__init__.py
  src/dxfplanner/io/writers/components/dxf_entity_converter_service.py
  src/dxfplanner/io/writers/components/dxf_resource_setup_service.py
  src/dxfplanner/io/writers/components/dxf_viewport_setup_service.py
  src/dxfplanner/io/writers/dxf_writer.py
  src/dxfplanner/services/geoprocessing/label_placement_service.py
  src/dxfplanner/services/layer_processor_service.py
  src/dxfplanner/services/legend_generation_service.py
  src/dxfplanner/services/operation_service.py
  src/dxfplanner/services/orchestration_service.py
  src/dxfplanner/services/pipeline_service.py
  src/dxfplanner/services/style_service.py
  src/dxfplanner/services/validation_service.py
  test_data/configs/test_config.yml
  test_data/sources/sample_polygons.geojson
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

wip
  src/dxfplanner/app.py
  src/dxfplanner/cli.py
  src/dxfplanner/config/common_schemas.py
  src/dxfplanner/config/schemas.py
  src/dxfplanner/core/di.py
  src/dxfplanner/core/logging_config.py
  src/dxfplanner/geometry/operations.py
  src/dxfplanner/services/layer_processor_service.py
  src/dxfplanner/services/validation_service.py
  test_data/configs/test_config.yml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

wip2
  OLD_DONT_USE_MAY_BE_INCORRECT_PROJECT_ARCHITECTURE.md
  PROJECT_STANDARDS.MD
  PROJECT_STANDARDS.TEMPLATE.MD
  src/dxfplanner/app.py
  src/dxfplanner/cli.py
  src/dxfplanner/core/di.py
  src/dxfplanner/geometry/color_utils.py
  src/dxfplanner/geometry/feature_converter.py
  src/dxfplanner/geometry/layer_utils.py
  src/dxfplanner/geometry/model_conversion.py
  src/dxfplanner/geometry/operations.py
  src/dxfplanner/geometry/projection.py
  src/dxfplanner/geometry/shapely_utils.py
  src/dxfplanner/geometry/transformations.py
  src/dxfplanner/geometry/utils.py
  src/dxfplanner/io/readers/geojson_reader.py
  src/dxfplanner/io/readers/shapefile_reader.py
  src/dxfplanner/io/writers/components/dxf_entity_converter_service.py
  src/dxfplanner/io/writers/components/dxf_resource_setup_service.py
  src/dxfplanner/io/writers/components/dxf_viewport_setup_service.py
  src/dxfplanner/io/writers/dxf_writer.py
  src/dxfplanner/services/geoprocessing/label_placement_service.py
  src/dxfplanner/services/layer_processor_service.py
  src/dxfplanner/services/legend_generation_service.py
  src/dxfplanner/services/style_service.py
  src/dxfplanner/services/validation_service.py
  test_data/configs/test_config.yml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

update project standards (ezdxf)
  PROJECT_STANDARDS.MD
  PROJECT_STANDARDS.md
Due: none

add: Project Architecture md
  PROJECT_ARCHITECTURE.MD
Due: none

wip3
  config.yml
  projects/ExampleProject/README.md
  projects/ExampleProject/project.yaml
  src/dxfplanner/cli.py
  src/dxfplanner/config/legend_schemas.py
  src/dxfplanner/domain/models/dxf_models.py
  src/dxfplanner/io/writers/components/dxf_entity_converter_service.py
  src/dxfplanner/services/helpers/legend_component_factory.py
  src/dxfplanner/services/legend_generation_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

wip4
  src/dxfplanner/io/writers/components/dxf_entity_converter_service.py
  src/dxfplanner/services/helpers/legend_component_factory.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

wip5 (no warnings)
  src/dxfplanner/io/writers/components/dxf_entity_converter_service.py
  test_data/configs/test_config.yml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

wip6
  src/dxfplanner/core/di.py
  src/dxfplanner/io/writers/components/dxf_entity_converter_service.py
  test_data/configs/test_config.yml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

wip 7 - dxf opens without error
  src/dxfplanner/io/writers/components/dxf_entity_converter_service.py
  src/dxfplanner/io/writers/dxf_writer.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

it seems like something is being created
  src/dxfplanner/core/di.py
  src/dxfplanner/domain/interfaces.py
  src/dxfplanner/geometry/feature_converter.py
  src/dxfplanner/geometry/transformations.py
  src/dxfplanner/io/writers/components/dxf_resource_setup_service.py
  src/dxfplanner/io/writers/dxf_writer.py
  src/dxfplanner/services/layer_processor_service.py
  test_data/configs/test_config.yml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

wip8
  src/dxfplanner/config/operation_schemas.py
  src/dxfplanner/geometry/feature_converter.py
  src/dxfplanner/geometry/operations.py
  src/dxfplanner/geometry/operations/__init__.py
  src/dxfplanner/geometry/operations/buffer_operation.py
  src/dxfplanner/geometry/operations/clean_geometry_operation.py
  src/dxfplanner/geometry/operations/dissolve_operation.py
  src/dxfplanner/geometry/operations/explode_multipart_operation.py
  src/dxfplanner/geometry/operations/field_mapping_operation.py
  src/dxfplanner/geometry/operations/filter_by_attribute_operation.py
  src/dxfplanner/geometry/operations/filter_by_extent_operation.py
  src/dxfplanner/geometry/operations/intersection_operation.py
  src/dxfplanner/geometry/operations/label_placement_operation.py
  src/dxfplanner/geometry/operations/merge_operation.py
  src/dxfplanner/geometry/operations/reproject_operation.py
  src/dxfplanner/geometry/operations/simplify_operation.py
  test_data/configs/test_config.yml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

wip9
  src/dxfplanner/geometry/feature_converter.py
  src/dxfplanner/io/writers/components/dxf_entity_converter_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

text placement works
  src/dxfplanner/core/logging_config.py
  src/dxfplanner/domain/models/dxf_models.py
  src/dxfplanner/geometry/feature_converter.py
  src/dxfplanner/geometry/operations/label_placement_operation.py
  src/dxfplanner/io/writers/components/dxf_entity_converter_service.py
  test_data/configs/test_config.yml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

wip text handling
  src/dxfplanner/cli.py
  src/dxfplanner/geometry/feature_converter.py
  src/dxfplanner/io/writers/components/dxf_entity_converter_service.py
  src/dxfplanner/io/writers/components/dxf_resource_setup_service.py
  src/dxfplanner/services/style_service.py
  test_data/configs/test_config.yml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

wip 10
  PROJECT_ARCHITECTURE.MD
  PROJECT_STANDARDS.MD
  pyproject.toml
  runtest.sh
  src/dxfplanner/services/style_service.py
  src/dxfplanner/services/styling/__init__.py
  src/dxfplanner/services/styling/dxf_style_definition_service.py
  src/dxfplanner/services/styling/font_provider_service.py
  src/dxfplanner/services/styling/preset_resolver_service.py
  src/dxfplanner/services/styling/rule_evaluator_service.py
  src/dxfplanner/services/styling/styling_utils.py
  test_data/configs/test_config.yml
  tests/unit/services/styling/__init__.py
  tests/unit/services/styling/test_dxf_style_definition_service.py
  tests/unit/services/styling/test_font_provider_service.py
  tests/unit/services/styling/test_preset_resolver_service.py
  tests/unit/services/styling/test_rule_evaluator_service.py
  tests/unit/services/styling/test_styling_utils.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

wip 11
  src/dxfplanner/config/style_schemas.py
  src/dxfplanner/core/di.py
  src/dxfplanner/services/styling/dxf_style_definition_service.py
  style_service.old.py
  test_data/configs/test_config.yml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

wip 12
  minimal_text_test_output.dxf
  src/dxfplanner/services/style_service.py
  src/dxfplanner/services/styling/dxf_style_definition_service.py
  src/dxfplanner/services/styling/font_provider_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

wip 13 - pipeline now writes all the layers specified
  src/dxfplanner/core/di.py
  src/dxfplanner/services/layer_processor_service.py
  src/dxfplanner/services/orchestration_service.py
  src/dxfplanner/services/pipeline_service.py
  test_data/configs/test_config.yml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

wip -14 polygon generation works but label placement broken IF using text styling
  src/dxfplanner/config/style_schemas.py
  src/dxfplanner/geometry/operations/buffer_operation.py
  src/dxfplanner/geometry/operations/label_placement_operation.py
  src/dxfplanner/io/readers/geojson_reader.py
  src/dxfplanner/io/writers/components/dxf_resource_setup_service.py
  src/dxfplanner/services/geoprocessing/label_placement_service.py
  src/dxfplanner/services/layer_processor_service.py
  src/dxfplanner/services/style_service.py
  src/dxfplanner/services/styling/font_provider_service.py
  test_data/configs/test_config.yml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

Update .gitignore to correctly ignore .cursor/
  .gitignore
Due: none

Fix trailing spaces in .gitignore for .cursor/ entry
  .gitignore
Due: none

update git stuff
  .gitignore
  .gitmodules
  test_data/configs/test_config.yml
Due: none

labels seems to work now
  src/dxfplanner/config/dxf_writer_schemas.py
  src/dxfplanner/geometry/operations/label_placement_operation.py
  src/dxfplanner/io/writers/components/dxf_entity_converter_service.py
  src/dxfplanner/io/writers/components/dxf_resource_setup_service.py
  src/dxfplanner/io/writers/dxf_writer.py
  src/dxfplanner/services/geoprocessing/label_placement_service.py
  src/dxfplanner/services/style_service.py
  test_data/sources/single_point.geojson
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

some fixes
  projects/test_project/output/test_output.dxf
  src/domain/config_models.py
  src/services/config_loader_service.py
  src/services/geometry_processor_service.py
  src/services/project_orchestrator_service.py
  src/services/style_applicator_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

add config validation
  projects/test_project/output/test_output.dxf
  src/domain/config_models.py
  src/domain/config_validation.py
  src/services/config_loader_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

add operations
  projects/test_project/geom_layers.yaml
  projects/test_project/output/test_output.dxf
  src/domain/config_models.py
  src/services/geometry_processor_service.py
  src/services/operations/__init__.py
  src/services/operations/advanced_handlers.py
  src/services/operations/base_operation_handler.py
  src/services/operations/data_processing_handlers.py
  src/services/operations/filtering_handlers.py
  src/services/operations/geometry_creation_handlers.py
  src/services/operations/operation_registry.py
  src/services/operations/spatial_analysis_handlers.py
  src/services/operations/transformation_handlers.py
  src/services/project_orchestrator_service.py
  src/services/resource_manager_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

change some messages to debug
  projects/test_project/geom_layers.yaml
  projects/test_project/output/test_output.dxf
  src/interfaces/style_applicator_interface.py
  src/services/data_source_service.py
  src/services/geometry_processor_service.py
  src/services/project_orchestrator_service.py
  src/services/style_applicator_service.py
  styles.yaml
  test_data.geojson
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

make sure that architecture is consistently applied
  PROJECT_ARCHITECTURE.MD
  requirements.txt
  src/adapters/ezdxf_adapter.py
  src/cli/commands.py
  src/cli/main_cli.py
  src/core/__init__.py
  src/core/container.py
  src/core/factories.py
  src/domain/config_validation.py
  src/domain/exceptions.py
  src/interfaces/config_validation_interface.py
  src/interfaces/dxf_adapter_interface.py
  src/interfaces/operation_registry_interface.py
  src/interfaces/resource_manager_interface.py
  src/services/operations/operation_registry.py
  src/services/resource_manager_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

more stuff
  projects/test_project/custom_styles.yaml
  projects/test_project/output/test_output.dxf
  projects/test_project/output/test_output_custom.dxf
  projects/test_project/project_custom_styles.yaml
  src/domain/config_models.py
  src/domain/config_validation.py
  src/services/config_loader_service.py
  src/services/geometry_processor_service.py
  src/services/project_orchestrator_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright
