Repository Gunther-Schulz/Python-ACAD-Tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

import-linter:
  name: import-linter (architecture rules)
  entry: lint-imports
  language: system
  pass_filenames: false
  args:
  - --config=pyproject.toml

ruff-src:
  name: ruff (linting) - source
  entry: ruff check
  language: system
  args:
  - --config=pyproject.toml
  - --fix

ruff-format-src:
  name: ruff (format) - source
  entry: ruff format
  language: system
  args:
  - --config=pyproject.toml

mypy-src:
  name: mypy (static type checking) - source
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  - --html-report=typing_report
  - --txt-report=typing_report

pylint-src:
  name: pylint - source
  entry: pylint
  language: system
  args:
  - --rcfile=pyproject.toml

dependency-injector:
  name: dependency-injector (DI patterns)
  entry: python scripts/check_dependency_injection.py
  language: system
  pass_filenames: false
  args:
  - --strict-constructor
  - --check-protocols
  - --validate-dependencies

beartype:
  name: beartype (runtime type checking)
  entry: python -c "from beartype.claw import beartype_this_package; import sys, importlib; sys.path.append('.'); import src; sys.exit(0)"
  language: python
  additional_dependencies:
  - beartype>=0.16.4
  - pyyaml
  - shapely
  - geopandas
  - ezdxf
  - dependency-injector
  ...

vulture:
  name: vulture (dead code and similarity)
  entry: vulture
  language: system
  pass_filenames: false
  args:
  - src
  - --min-confidence=90
  - --exclude=tests/,src_old/,scripts/
  - --ignore-names=config_path,geometry_path,layer_path,target_path,format

radon-cc:
  name: radon (code complexity)
  entry: radon cc
  language: system
  pass_filenames: false
  args:
  - -a
  - -n
  - A
  - -s
  - --total-average
  - --xml
  - src

radon-mi:
  name: radon (maintainability)
  entry: radon mi
  language: system
  pass_filenames: false
  args:
  - -s
  - -n
  - A
  - --min=65
  - --multi
  - src

interrogate:
  name: interrogate (docstring coverage)
  entry: interrogate
  language: system
  args:
  - -c
  - pyproject.toml
  - -vv

ruff-tests:
  name: ruff (linting) - tests
  entry: ruff check
  language: system
  args:
  - --config=pyproject.toml
  - --fix

ruff-format-tests:
  name: ruff (format) - tests
  entry: ruff format
  language: system
  args:
  - --config=pyproject.toml

pylint-tests:
  name: pylint - tests
  entry: pylint
  language: system
  args:
  - --rcfile=pyproject.toml
  ...

semgrep:
  name: semgrep (semantic analysis)
  entry: semgrep
  language: system
  args:
  - --config=auto

pyright:
  name: pyright (type checking)
  entry: pyright
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.350

wip shit fuck
  analyze_test_dxf.py
  create_test_dxf.py
  projects/Bibow/block_inserts.yaml
  projects/Bibow/text_inserts.yaml
  projects/Bibow/viewports.yaml
  projects/SyncAutoTest/block_inserts.yaml
  projects/SyncAutoTest/project.yaml
  projects/SyncAutoTest/text_inserts.yaml
  projects/SyncAutoTest/viewports.yaml
  src/block_insert_manager.py
  src/dxf_exporter.py
  src/dxf_utils.py
  src/project_loader.py
  src/sync_manager_base.py
  src/viewport_manager.py
  test_data/sync_auto_test.dxf
  test_data/sync_auto_test.dxf.ezdxf_bak
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

supposedly works
  .gitignore
  analyze_test_dxf.py
  check_blocks.py
  create_test_dxf.py
  debug_block_creation.py
  debug_xdata_attachment.py
  projects/Bibow/block_inserts.yaml
  projects/Bibow/text_inserts.yaml
  projects/Bibow/viewports.yaml
  projects/SyncAutoTest/block_inserts.yaml
  projects/SyncAutoTest/project.yaml
  projects/SyncAutoTest/text_inserts.yaml
  projects/SyncAutoTest/viewports.yaml
  src/project_loader.py
  src/sync_manager_base.py
  test_data/sync_auto_test.dxf
  test_data/sync_auto_test.dxf.ezdxf_bak
  test_final_result.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

fix
  projects/Bibow/text_inserts.yaml
  src/sync_hash_utils.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

fix yaml deletion decision
  src/sync_manager_base.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

clean sync metadata
  projects/Bibow/block_inserts.yaml
  projects/Bibow/text_inserts.yaml
  projects/Bibow/viewports.yaml
Due: none

yaml
  projects/Bibow/text_inserts.yaml
Due: none

yaml push
  projects/Bibow/block_inserts.yaml
  projects/Bibow/text_inserts.yaml
  projects/Bibow/viewports.yaml
Due: none

subdirs for yaml
  cursor_analyze_script_for_sync_informat successfull larger refactor with seemingly good planning.md
  projects/Bibow/auto/block_inserts.yaml
  projects/Bibow/auto/text_inserts.yaml
  projects/Bibow/auto/viewports.yaml
  projects/Bibow/push/geom_layers.yaml
  projects/Bibow/push/legends.yaml
  projects/Bibow/push/path_arrays.yaml
  projects/Georgendorf/push/geom_layers.yaml
  projects/Plasten/auto/block_inserts.yaml
  projects/Plasten/auto/text_inserts.yaml
  projects/Plasten/auto/viewports.yaml
  projects/Plasten/push/geom_layers.yaml
  projects/Plasten/push/legends.yaml
  projects/Plasten/push/path_arrays.yaml
  projects/Plasten/push/wmts_wms_layers.yaml
  projects/SyncAutoTest/auto/block_inserts.yaml
  projects/SyncAutoTest/auto/text_inserts.yaml
  projects/SyncAutoTest/auto/viewports.yaml
  projects/Torgelow/auto/block_inserts.yaml
  projects/Torgelow/auto/text_inserts.yaml
  projects/Torgelow/auto/viewports.yaml
  projects/Torgelow/push/geom_layers.yaml
  projects/Torgelow/push/legends.yaml
  projects/Torgelow/push/path_arrays.yaml
  projects/Torgelow/push/wmts_wms_layers.yaml
  projects/Waren/auto/block_inserts.yaml
  projects/Waren/auto/text_inserts.yaml
  projects/Waren/auto/viewports.yaml
  projects/Waren/push/geom_layers.yaml
  projects/Waren/push/legends.yaml
  projects/Waren/push/path_arrays.yaml
  projects/Waren/push/wmts_wms_layers.yaml
  projects/WarenVM/push/geom_layers.yaml
  projects/WarenVM/push/wmts_wms_layers.yaml
  src/project_loader.py
  src/sync_manager_base.py
  src/utils.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

cleanup
  projects/SyncAutoTest/interactive/block_inserts.yaml
  projects/SyncAutoTest/interactive/text_inserts.yaml
  projects/SyncAutoTest/interactive/viewports.yaml
  projects/SyncAutoTest/project.yaml
  projects/test_new_structure/generated/legends.yaml
  projects/test_new_structure/generated/path_arrays.yaml
  projects/test_new_structure/generated/wmts_wms_layers.yaml
  projects/test_new_structure/geom_layers.yaml
  projects/test_new_structure/interactive/block_inserts.yaml
  projects/test_new_structure/interactive/text_inserts.yaml
  projects/test_new_structure/interactive/viewports.yaml
  projects/test_new_structure/project.yaml
  projects/test_new_structure/web_services.yaml
  projects/test_pull_mode/generative/geom_layers.yaml
  projects/test_pull_mode/generative/legends.yaml
  projects/test_pull_mode/generative/path_arrays.yaml
  projects/test_pull_mode/generative/wmts_wms_layers.yaml
  projects/test_pull_mode/interactive/block_inserts.yaml
  projects/test_pull_mode/interactive/text_inserts.yaml
  projects/test_pull_mode/interactive/viewports.yaml
  projects/test_pull_mode/project.yaml
  projects/test_pull_mode/web_services.yaml
Due: none

yaml
  projects/Bibow/interactive/text_inserts.yaml
  projects/Bibow/interactive/viewports.yaml
Due: none

yaml writing fix
  src/project_loader.py
  src/unified_sync_processor.py
  src/viewport_manager.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

fix
  src/text_insert_manager.py
  src/viewport_manager.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

fix
  src/text_insert_manager.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

some stuff
  src/block_insert_manager.py
  src/dxf_utils.py
  src/sync_manager_base.py
  src/text_insert_manager.py
  src/unified_sync_processor.py
  src/viewport_manager.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

fix and clean
  debug_xdata_attachment.py
  gen_operations.py
  src/block_insert_manager.py
  src/dxf_exporter.py
  src/dxf_utils.py
  src/sync_manager_base.py
  src/text_insert_manager.py
  src/unified_sync_processor.py
  src/viewport_manager.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

fix duplication
  src/block_insert_manager.py
  src/text_insert_manager.py
  src/unified_sync_processor.py
  src/viewport_manager.py
  test_viewport_copy.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

allow renaming of duplicates
  src/unified_sync_processor.py
  test_viewport_copy.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

remove duplication handling
  projects/Bibow/interactive/text_inserts.yaml
  projects/Bibow/interactive/viewports.yaml
  src/block_insert_manager.py
  src/text_insert_manager.py
  src/unified_sync_processor.py
  src/viewport_manager.py
  test_viewport_copy.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

only keep untracked layers handling
  projects/Bibow/interactive/block_inserts.yaml
  projects/Bibow/interactive/text_inserts.yaml
  projects/Bibow/interactive/viewports.yaml
  src/block_insert_manager.py
  src/dxf_exporter.py
  src/project_loader.py
  src/unified_sync_processor.py
  src/viewport_manager.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

handle recovery by name
  HANDLE_RECOVERY_GUIDE.md
  projects/Bibow/interactive/viewports.yaml
  src/block_insert_manager.py
  src/text_insert_manager.py
  src/unified_sync_processor.py
  src/viewport_manager.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

fix discover name
  HANDLE_RECOVERY_GUIDE.md
  src/unified_sync_processor.py
  src/viewport_manager.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

fix sync data for discovered
  projects/Bibow/interactive/viewports.yaml
  src/unified_sync_processor.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

env
  .gitignore
Due: none

cleanup
  .gitignore
  AUTO_SYNC_GUIDE.md
  DISCOVERY_LAYERS_GUIDE.md
  DUPLICATE_NAME_FIX.md
  TODO.md
  USAGE_EXAMPLE.md
  check_blocks.py
  cursor_analyze_script_for_sync_informat successfull larger refactor with seemingly good planning.md
  debug_block_creation.py
  debug_xdata_attachment.py
  del_dxf_source_extractor.py
  del_dxf_transfer.py
  del_dxf_transfer.yaml
  del_update_from_source.yaml
  qgis_expressions.md
Due: semgrep, pyright

yaml
  projects/Bibow/generated/legends.yaml
  projects/Bibow/interactive/block_inserts.yaml
  projects/Bibow/interactive/text_inserts.yaml
  projects/Bibow/interactive/viewports.yaml
  src/project_loader.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

global sync defaults
  src/block_insert_manager.py
  src/project_loader.py
  src/unified_sync_processor.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

save label leayers
  projects/Bibow/geom_layers.yaml
  projects/Bibow/interactive/text_inserts.yaml
  projects/Bibow/interactive/viewports.yaml
  src/layer_processor.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

labels from point layer operation
  projects/Bibow/geom_layers.yaml
  projects/Bibow/interactive/viewports.yaml
  src/layer_processor.py
  src/operations/point_label_operation.py
  styles.yaml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

i think i fixed someting
  projects/Bibow/generated/legends.yaml
  projects/Bibow/generated/wmts_wms_layers.yaml
  projects/Bibow/geom_layers.yaml
  projects/Bibow/interactive/text_inserts.yaml
  projects/Bibow/interactive/viewports.yaml
  src/block_insert_manager.py
  src/dxf_utils.py
  src/operations/interactive_label_operation.py
  src/operations/remove_slivers_erosion_operation.py
  src/operations/repair_operation.py
  src/sync_hash_utils.py
  src/unified_sync_processor.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

remove deprecated updateDxf
  main.py
  projects/Bibow/generated/wmts_wms_layers.yaml
  projects/Bibow/interactive/text_inserts.yaml
  projects/Bibow/interactive/viewports.yaml
  projects/Plasten/interactive/text_inserts.yaml
  projects/Waren/interactive/text_inserts.yaml
  src/operations/wmts_wms_operation.py
  src/utils.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

upd yaml
  projects/Bibow/generated/wmts_wms_layers.yaml
  projects/Bibow/interactive/block_inserts.yaml
  projects/Bibow/interactive/viewports.yaml
Due: none

handle orphaned entities (untested)
  projects/Bibow/interactive/block_inserts.yaml
  src/unified_sync_processor.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

stuff
  projects/Bibow/generated/block_placements.yaml
  projects/Bibow/generated/legends.yaml
  projects/Bibow/geom_layers.yaml
  projects/Bibow/interactive/text_inserts.yaml
  projects/Bibow/interactive/viewports.yaml
  projects/Torgelow/interactive/block_inserts.yaml
  src/block_insert_manager.py
  src/block_placement_utils.py
  src/dxf_exporter.py
  src/project_loader.py
  styles.yaml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

fix buffertrick option in difference operation
  projects/Bibow/geom_layers.yaml
  projects/Bibow/interactive/viewports.yaml
  src/operations/dissolve_operation.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

upd yaml
  projects/Bibow/generated/block_placements.yaml
  projects/Bibow/generated/legends.yaml
  projects/Bibow/geom_layers.yaml
  projects/Bibow/interactive/text_inserts.yaml
  projects/Bibow/interactive/viewports.yaml
Due: none

add reports to yaml
  projects/Bibow/geom_layers.yaml
Due: none

upd yaml
  projects/Bibow/generated/block_placements.yaml
  projects/Bibow/generated/legends.yaml
  projects/Bibow/geom_layers.yaml
  projects/Bibow/interactive/text_inserts.yaml
Due: none

Path conditions:
  import-linter: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-src: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-format-src: any of: ^src/ and \.py$ and not (^src_old/)
  mypy-src: any of: ^src/ and \.py$ and not (^src_old/)
  pylint-src: any of: ^src/ and \.py$ and not (^src_old/)
  dependency-injector: any of: ^src/ and \.py$ and not (^src_old/)
  beartype: any of: ^src/ and \.py$ and not (^src_old/)
  vulture: any of: ^src/ and \.py$ and not (^src_old/)
  radon-cc: any of: ^src/ and \.py$ and not (^src_old/)
  radon-mi: any of: ^src/ and \.py$ and not (^src_old/)
  interrogate: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-tests: any of: ^tests/ and \.py$
  ruff-format-tests: any of: ^tests/ and \.py$
  pylint-tests: any of: ^tests/ and \.py$
  semgrep: any of: \.py$, but not: ^src_old/
  pyright: any of: \.py$, but not: ^src_old/
