Repository Gunther-Schulz/Python-ACAD-Tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

Path conditions:
  import-linter: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-src: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-format-src: any of: ^src/ and \.py$ and not (^src_old/)
  mypy-src: any of: ^src/ and \.py$ and not (^src_old/)
  pylint-src: any of: ^src/ and \.py$ and not (^src_old/)
  dependency-injector: any of: ^src/ and \.py$ and not (^src_old/)
  beartype: any of: ^src/ and \.py$ and not (^src_old/)
  vulture: any of: ^src/ and \.py$ and not (^src_old/)
  radon-cc: any of: ^src/ and \.py$ and not (^src_old/)
  radon-mi: any of: ^src/ and \.py$ and not (^src_old/)
  interrogate: any of: ^src/ and \.py$ and not (^src_old/)
  ruff-tests: any of: ^tests/ and \.py$
  ruff-format-tests: any of: ^tests/ and \.py$
  pylint-tests: any of: ^tests/ and \.py$
  semgrep: any of: \.py$, but not: ^src_old/
  pyright: any of: \.py$, but not: ^src_old/

arch fixes
  src/core/container.py
  src/domain/common_types.py
  src/domain/config_models.py
  src/domain/geometry_models.py
  src/domain/project_models.py
  src/domain/style_models.py
  src/services/config_loader_service.py
  src/services/data_exporter_service.py
  src/services/data_source_service.py
  src/services/operations/base_operation_handler.py
  src/services/style_applicator_service.py
  src/utils/geodataframe_utils.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

refactor utils
  REFACTORING_SUMMARY.md
  src/adapters/dxf/__init__.py
  src/adapters/dxf/document_maintenance.py
  src/adapters/dxf/entity_operations.py
  src/adapters/dxf/geometry_conversions.py
  src/domain/exceptions.py
  src/services/geometry/__init__.py
  src/services/geometry/envelope_service.py
  src/services/geometry/gdf_operations.py
  src/utils/__init__.py
  src/utils/advanced_geometry_utils.py
  src/utils/filesystem.py
  src/utils/geodataframe_utils.py
  src/utils/text_processing.py
  src/utils/visualization.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

more refactor (remove backwardscompatability)
  REFACTORING_SUMMARY.md
  src/services/geometry/gdf_operations.py
  src/services/operations/base_operation_handler.py
  src/services/operations/spatial_analysis_handlers.py
  src/services/project_orchestrator_service.py
  src/services/style_applicator_service.py
  src/utils/__init__.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

more refactoring
  REFACTORING_SUMMARY.md
  TODO.md
  aci_colors.yaml
  projects/test_project/custom_styles.yaml
  projects/test_project/geom_layers.yaml
  projects/test_project/legends.yaml
  projects/test_project/output/test_output.dxf
  projects/test_project/output/test_output_custom.dxf
  projects/test_project/project_custom_styles.yaml
  src/cli/main_cli.py
  src/core/container.py
  src/domain/geometry_models.py
  src/services/config_loader_service.py
  src/services/geometry/gdf_operations.py
  src/services/logging_service.py
  src/services/operations/__init__.py
  src/services/operations/operation_registry.py
  src/services/operations/spatial_analysis_handlers.py
  src/services/project_orchestrator_service.py
  src/services/style_applicator_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

add path aliases (untested)
  projects/test_project/geom_layers.yaml
  projects/test_project/project.yaml
  src/core/container.py
  src/domain/config_models.py
  src/domain/exceptions.py
  src/domain/path_models.py
  src/domain/project_models.py
  src/interfaces/path_resolver_interface.py
  src/services/path_resolver_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

add context-aware extension resolution system
  src/interfaces/path_resolver_interface.py
  src/services/path_resolver_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

testing wip
  PROJECT_ARCHITECTURE.MD
  REFACTORING_SUMMARY.md
  REFACTORPLAN.md
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/domain/__init__.py
  tests/domain/test_exceptions.py
  tests/domain/test_path_models.py
  tests/services/__init__.py
  tests/services/test_path_resolver_service.py
  tests/test_example_markers.py
Due: ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

fix architecture discrepancies and path resolution
  PROJECT_ARCHITECTURE.MD
  projects/test_project/output/test_output_custom.dxf
  src/cli/main_cli.py
  src/core/__init__.py
  src/core/container.py
  src/domain/path_models.py
  src/services/config_loader_service.py
  src/services/path_resolver_service.py
  src/services/project_orchestrator_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

some fixes
  COMPREHENSIVE_VALIDATION_SUMMARY.md
  VALIDATION_CAPABILITIES.md
  external_data/parks_and_recreation.geojson
  external_data/public_facilities.geojson
  projects/test_project/geom_layers_comprehensive_validation_test.yaml
  projects/test_project/geom_layers_validation_test.yaml
  projects/test_project/output/test_output_custom.dxf
  projects/test_project/projects/test_project/output/test_output_custom.dxf
  projects/test_project/test_data.geojson
  reference_files/amenities_catalog.geojson
  reference_files/healthcare_locations.geojson
  road_network.geojson
  src/core/container.py
  src/domain/config_validation.py
  src/services/config_loader_service.py
  src/services/geometry/gdf_operations.py
  src/services/geometry_processor_service.py
  src/services/project_orchestrator_service.py
  test_comprehensive_validation_demo.py
  test_integration_verification.py
  test_validation_demo.py
  tests/domain/test_common_types.py
  tests/domain/test_config_models.py
  tests/domain/test_project_models.py
  tests/domain/test_style_models.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

add template support and dxf write/load modes
  projects.yaml
  projects/test_project/output/test_output_custom.dxf
  projects/test_project/project.yaml
  src/domain/config_validation.py
  src/domain/project_models.py
  src/services/project_orchestrator_service.py
  tests/domain/test_project_models.py
  tests/services/test_path_resolver_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

improve path aliases
  projects/test_project/geom_layers.yaml
  projects/test_project/output/test_output_custom.dxf
  projects/test_project/project.yaml
  src/services/config_loader_service.py
  src/services/path_resolver_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

more stuff
  PROJECT_STANDARDS.MD
  projects/test_project/geom_layers_comprehensive_validation_test.yaml
  projects/test_project/geom_layers_validation_test.yaml
  projects/test_project/output/test_output_custom.dxf
  projects/test_project/test_data.geojson
  src/cli/main_cli.py
  src/domain/config_validation.py
  src/services/logging_service.py
  src/utils/__init__.py
  src/utils/color_formatter.py
  test_comprehensive_validation_demo.py
  test_data.geojson
  test_integration_verification.py
  test_validation_demo.py
  tests/domain/test_config_validation.py
  tests/services/test_config_validation_service.py
  tests/utils/__init__.py
  tests/utils/test_color_formatter.py
  tests/utils/test_filesystem.py
  tests/utils/test_text_processing.py
  tests/utils/test_visualization.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

test styles
  projects/test_project/output/test_output_custom.dxf
  tests/styling/__init__.py
  tests/styling/base_test_utils.py
  tests/styling/conftest.py
  tests/styling/fixtures/color_mappings.yaml
  tests/styling/fixtures/comprehensive_styles.yaml
  tests/styling/test_entity_styling.py
  tests/styling/test_layer_styling.py
Due: ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

styling test suite
  debug_dxf.py
  external_data/parks_and_recreation.geojson
  external_data/parks_and_recreation.geojson.backup
  external_data/public_facilities.geojson
  external_data/public_facilities.geojson.backup
  projects/test_project/output/test_output_custom.dxf
  projects/test_project/project.yaml
  reference_files/amenities_catalog.geojson
  reference_files/amenities_catalog.geojson.backup
  reference_files/healthcare_locations.geojson
  reference_files/healthcare_locations.geojson.backup
  road_network.geojson
  road_network.geojson.backup
  src/domain/config_validation.py
  src/domain/style_models.py
  src/services/geometry/gdf_operations.py
  src/services/operations/spatial_analysis_handlers.py
  src/services/style_applicator_service.py
  test_data.geojson
  test_data.geojson.backup
  tests/styling/fixtures/color_mappings.yaml
  tests/styling/fixtures/comprehensive_styles.yaml
  tests/styling/test_dxf_integration.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

fixes and logged issues
  ACTIONABLE_COMMENTS_AND_TODOS.MD
  ARCHITECTURE_DEVIATIONS_REPORT.MD
  CODEBASE_REVIEW_AND_AUDIT_GUIDE.MD
  COMPREHENSIVE_VALIDATION_SUMMARY.md
  DUPLICATION_FINDINGS.MD
  OTHER_CODE_QUALITY_OBSERVATIONS.MD
  PROJECT_ARCHITECTURE.MD
  PROJECT_STANDARDS.MD
  REFACTORING_PLAN.MD
  VALIDATION_CAPABILITIES.md
  aci_colors.yaml
  debug_dxf.py
  del_dxf_source_extractor.py
  del_dxf_transfer.py
  del_dxf_transfer.yaml
  del_update_from_source.yaml
  dxf_loader.py
  road_network.geojson.backup
  src/services/style_applicator_service.py
  test_data.geojson.backup
  tests/styling/base_test_utils.py
  tests/styling/fixtures/color_mappings.yaml
  tests/styling/fixtures/comprehensive_styles.yaml
  tests/styling/test_dxf_integration.py
  tests/styling/test_entity_styling.py
  tests/styling/test_layer_styling.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

phase one done (no tests)
  CODEBASE_REVIEW_AND_AUDIT_GUIDE.MD
  REFACTORING_PLAN.MD
  src/adapters/ezdxf_adapter.py
  src/interfaces/dxf_adapter_interface.py
  src/services/data_source_service.py
  src/services/style_applicator_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

docs
  CODEBASE_REVIEW_AND_AUDIT_GUIDE.MD
  DUPLICATION_FINDINGS.MD
  REFACTORING_PLAN.MD
  testing_gotchas.md
Due: none

docs
  CODEBASE_REVIEW_AND_AUDIT_GUIDE.MD
  REFACTORING_PLAN.MD
Due: none

wip testing
  .coverage
  .gitignore
  coverage.xml
  debug_ezdxf.py
  debug_lineweight.py
  debug_lineweight_test.dxf
  debug_modelspace.py
  pyproject.toml
  requirements.txt
  src/adapters/ezdxf_adapter.py
  src/domain/exceptions.py
  src/domain/style_models.py
  src/services/style_applicator_service.py
  tests/adapters/test_ezdxf_adapter.py
  tests/integration/__init__.py
  tests/integration/test_adapter_service_integration.py
  tests/services/test_config_validation_service.py
  tests/services/test_data_source_service.py
  tests/services/test_style_applicator_service.py
  tests/styling/base_test_utils.py
  tests/styling/fixtures/comprehensive_styles.yaml
  tests/styling/test_dxf_integration.py
  tests/styling/test_entity_styling.py
  tests/styling/test_layer_styling.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

wip
  .coverage
  CLIPPY_ASSUMPTION_REVIEW_PROMPTS.MD
  CODEBASE_REVIEW_AND_AUDIT_GUIDE.MD
  REFACTORING_PLAN.MD
  TESTING_THEATER_PROBLEM.md
  pyproject.toml
  src/adapters/ezdxf_adapter.py
  src/domain/config_models.py
  src/domain/style_models.py
  src/interfaces/dxf_resource_manager_interface.py
  src/interfaces/geometry_processor_interface.py
  src/interfaces/style_application_orchestrator_interface.py
  src/services/dxf_resource_manager_service.py
  src/services/geometry_processor_service.py
  src/services/style_application_orchestrator_service.py
  src/services/style_applicator_service.py
  tests/adapters/test_ezdxf_adapter.py
  tests/domain/test_path_models.py
  tests/domain/test_project_models.py
  tests/domain/test_style_models.py
  tests/integration/test_adapter_service_integration.py
  tests/services/test_dxf_resource_manager_service.py
  tests/services/test_geometry_processor_service.py
  tests/services/test_style_application_orchestrator_service.py
  tests/services/test_style_applicator_service.py
  tests/styling/test_dxf_integration.py
  tests/styling/test_entity_styling.py
  tests/styling/test_layer_styling.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

tests (dont know if app is working still)
  TESTING_THEATER_ANTI_PATTERNS.md
  TESTING_THEATER_FINDINGS.md
  environment.yaml
  src/adapters/ezdxf_adapter.py
  src/domain/config_validation.py
  src/domain/style_models.py
  src/services/config_loader_service.py
  src/services/data_source_service.py
  src/services/dxf_resource_manager_service.py
  src/services/geometry_processor_service.py
  src/services/style_application_orchestrator_service.py
  src/services/style_applicator_service.py
  tests/adapters/test_ezdxf_adapter.py
  tests/domain/test_project_models.py
  tests/integration/test_adapter_service_integration.py
  tests/services/test_config_loader_service.py
  tests/services/test_config_validation_service.py
  tests/services/test_data_source_service.py
  tests/services/test_dxf_resource_manager_service.py
  tests/services/test_geometry_processor_service.py
  tests/services/test_style_application_orchestrator_service.py
  tests/services/test_style_applicator_service.py
  tests/styling/test_dxf_integration.py
  tests/styling/test_entity_styling.py
  tests/styling/test_layer_styling.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

1
  projects/Waren/geom_layers.yaml
  projects/Waren/project.yaml
  src/dxf_utils.py
  src/operations/bounding_box_operation.py
  src/operations/buffer_operation.py
  src/operations/circle_operation.py
  src/operations/connect_points_operation.py
  src/operations/copy_operation.py
  src/operations/difference_operation.py
  src/operations/directional_line_operation.py
  src/operations/dissolve_operation.py
  src/operations/envelope_operation.py
  src/operations/filter_geometry_operation.py
  src/operations/intersection_operation.py
  src/operations/merge_operation.py
  src/operations/smooth_operation.py
  test_dissolve.py
  test_intersection.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

fixed linetype and scale
  check_hatches.py
  projects/Waren/geom_layers.yaml
  projects/Waren/path_arrays.yaml
  src/dxf_exporter.py
  src/style_manager.py
  styles.yaml
  test_hatch_removal.py
  test_hatch_xdata.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

it seems like dissolve may have an issue
  projects/Waren/geom_layers.yaml
  projects/Waren/project.yaml
Due: none

wip refactor
  .gitmodules
  CODEBASE_REVIEW_AND_AUDIT_GUIDE.MD
  TESTING_THEATER_PROBLEM.md
  debug_ezdxf.py
  debug_modelspace.py
  diag_ezdxf_import.py
  projects/test_project/custom_styles.yaml
  projects/test_project/geom_layers.yaml
  projects/test_project/output/test_output_custom.dxf
  src/adapters/dxf/document_maintenance.py
  src/adapters/dxf/entity_operations.py
  src/adapters/dxf/geometry_conversions.py
  src/adapters/ezdxf_adapter.py
  src/core/container.py
  src/domain/config_validation.py
  src/interfaces/data_exporter_interface.py
  src/interfaces/data_source_interface.py
  src/interfaces/dxf_adapter_interface.py
  src/interfaces/geometry_processor_interface.py
  src/interfaces/style_applicator_interface.py
  src/services/data_exporter_service.py
  src/services/data_source_service.py
  src/services/dxf_resource_manager_service.py
  src/services/geometry_processor_service.py
  src/services/project_orchestrator_service.py
  src/services/style_application_orchestrator_service.py
  src/services/style_applicator_service.py
  src/utils/visualization.py
  tests/adapters/test_ezdxf_adapter.py
  tests/integration/test_adapter_service_integration.py
  tests/services/test_data_source_service.py
  tests/services/test_dxf_resource_manager_service.py
  tests/services/test_geometry_processor_service.py
  tests/services/test_path_resolver_service.py
  tests/services/test_style_application_orchestrator_service.py
  tests/services/test_style_applicator_service.py
  tests/styling/test_dxf_integration.py
  tests/styling/test_entity_styling.py
  tests/utils/test_visualization.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

wip2
  src/services/operations/spatial_analysis_handlers.py
  src/services/project_orchestrator_service.py
  tests/adapters/test_ezdxf_adapter.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

wip3
  src/services/geometry_processor_service.py
  tests/integration/test_adapter_service_integration.py
  tests/services/test_config_validation_service.py
  tests/services/test_data_source_service.py
  tests/services/test_dxf_resource_manager_service.py
  tests/services/test_geometry_processor_service.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, ruff-tests, ruff-format-tests, pylint-tests, semgrep, pyright

some operations fixes
  projects/Bibow/geom_layers.yaml
  projects/Bibow/project.yaml
  requirements.txt
  src/operations/buffer_operation.py
  src/operations/difference_operation.py
  src/operations/intersection_operation.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

fix unpacking errors in operations
  src/operations/bounding_box_operation.py
  src/operations/circle_operation.py
  src/operations/connect_points_operation.py
  src/operations/contour_operation.py
  src/operations/directional_line_operation.py
  src/operations/envelope_operation.py
  src/operations/label_association_operation.py
  src/operations/merge_operation.py
  src/operations/smooth_operation.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

yaml
  projects/Bibow/geom_layers.yaml
Due: none

yml
  projects/Bibow/geom_layers.yaml
Due: none

fixes
  projects/Bibow/geom_layers.yaml
  src/dxf_exporter.py
  src/operations/common_operations.py
  src/operations/copy_operation.py
  src/operations/difference_operation.py
  src/operations/filter_geometry_operation.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

add georgendorf
  main.py
  projects/Bibow/geom_layers.yaml
  projects/Georgendorf/geom_layers.yaml
  projects/Georgendorf/project.yaml
  src/dump_to_shape.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

some stuff i dont remember
  projects/Georgendorf/geom_layers.yaml
  projects/Georgendorf/project.yaml
  src/layer_processor.py
  src/operations/__init__.py
  src/operations/common_operations.py
  src/operations/repair_operation.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

upd yaml
  projects/Bibow/geom_layers.yaml
  src/layer_processor.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

add --skip-dxf and atomic file writing
  del_dxf_transfer.py
  main.py
  projects/Bibow/geom_layers.yaml
  src/dxf_exporter.py
  src/dxf_processor.py
  src/dxf_utils.py
  src/reduced_dxf_creator.py
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright

show warning if boundary layer for hatch does not exist and add optional profiling
  main.py
  src/dxf_exporter.py
  src/dxf_utils.py
  src/utils.py
  styles.yaml
Due: import-linter, ruff-src, ruff-format-src, mypy-src, pylint-src, dependency-injector, beartype, vulture, radon-cc, radon-mi, interrogate, semgrep, pyright
